name: CI

on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-typescript:
    name: TypeScript Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm

      - name: Install Dependencies
        id: npm-ci
        run: npm ci

      - name: Check Format
        id: npm-format-check
        run: npm run format:check

      - name: Lint
        id: npm-lint
        run: npm run lint

      - name: Test
        id: npm-ci-test
        run: npm run ci-test

  test-action:
    name: GitHub Actions Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm

      - name: Install Dependencies
        id: npm-ci
        run: npm ci

      - name: Build Action
        id: npm-build
        run: npm run bundle

      - name: Checkout ng-libs
        uses: actions/checkout@v4
        with:
          repository: 'chill-viking/ng-libs'
          path: 'ng-libs'

      - name: Install ng-libs dependencies
        run: npm ci
        working-directory: ng-libs

      - name: Test Local Action
        id: test-action
        uses: ./
        with:
          project: 'test-project'

      - name: Print Output
        id: output
        run: |
          echo "is-affected:"
          echo "${{ steps.test-action.outputs.is-affected }}"
          echo
          echo "affected-projects:"
          echo "${{ steps.test-action.outputs.affected-projects }}"
